@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap');

.mainContainerS{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
    
}
.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
border: 1px solid grey;
    height: 90%;
    width: 400px;
    gap: 10px;
    border-radius: 10px;
}

.input {
    width: 250px;
    height: 35px;
   border: 1px solid grey;
   border-radius: 5px;
 
    
    color: red;
}

.signUpButton{
    width: 200px;
}

.loginText{
    margin-top: 20px;
}

.title{position: relative;
    top: 15px;
}